@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }




nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nt{
    color: rgb(253, 110, 10);
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none; 
    font-size: 20px;  
}   
.drak-1{
    color: rgb(71, 71, 71) ;
}
.btn{
    background-color: rgb(253, 110, 10);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
}
.banner-pic{
    width: 380px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 45px 0px 200px;
}
.banner-greating{
    color: rgb(71, 71, 71);
font-size: 45px;
font-weight: 600;
line-height: 61px;
text-align: left;
}
.banner-title{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 75px;
font-weight: 700;
text-align: left;
}
.banner-dascription{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 15px;
font-weight: 400;
line-height: 30px;
text-align: left;
}
.ban-1{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom left,bottom right;
    background-color: rgb(255, 248, 243);
}
/* main sytles */
main{
    max-width: 1140;
    margin: 0 auto;
}
/* About style  */
.secondery-background{
    background-color: rgb(255, 248, 243);
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.about-item {
    line-height: 10px;
}
.item-description{
    font-weight: 600;
}








